/* body {
  background-color: purple;
} */

#choices {
  display: flex;
  justify-content: space-around;
  height: 500px;
  width: 500px;
}

.choice {
  flex: 33.33%;
  padding: 5px;
}

/* img {
  border-radius: %;
} */